---
import { db, eq, Products } from "astro:db";
import { ImageSlider } from "@components/ImageSlider";
import MainLayout from "@layouts/MainLayout.astro";

const { id } = Astro.params;
const productArray = await db
  .select()
  .from(Products)
  .where(eq(Products.id, id));
const product = productArray[0];
const productImages = JSON.parse(product.images);
---

<MainLayout>
  <main>
    <div class="img-slider">
      <ImageSlider images={productImages} client:load />
    </div>
    <div class="info">
      <h1>{product.name}</h1>
      <p>{product.description}</p>
      <p>${product.price}</p>
      <button>Add to Cart</button>
    </div>
  </main>
</MainLayout>

<style>
  main {
    display: flex;
    gap: 2rem;
    padding: 2rem;
  }

  .img-slider {
    flex-basis: 50%;
  }

  h1 {
    font-family: "Cinzel Decorative", system-ui;
    font-weight: bold;
    font-size: 2.5rem;
  }
</style>
