---
import MainLayout from "@layouts/MainLayout.astro";
import { GET } from "@api/getProducts.json.ts";
import ShoppingCart from "astro-heroicons/outline/ShoppingCart.astro";
import type { Product } from "@vars/constants";
import ProductCard from "@components/ProductCard.astro";

let response = await GET();
const products = await response.json();

const singleCats = new Set(
  products.map((product: Product) => product.category)
);

const categoryList = [...singleCats];
---

<MainLayout>
  <header>
    <h1>E-Com Casino</h1>
    <a href="/cart" class="cart">
      <ShoppingCart class="cart-icon" />
      <p>Cart</p>
    </a>
  </header>
  <div class="body-wrapper">
    <aside>
      <h2>Categories</h2>
      {categoryList.map((category) => <p>{category}</p>)}
    </aside>
    <main>
      <ul>
        {
          products.map((product: Product) => (
            <li>
              <ProductCard product={product} />
            </li>
          ))
        }
      </ul>
    </main>
  </div>
</MainLayout>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
  }

  h1 {
    font-family: "Cinzel Decorative", system-ui;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
  }

  .cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
    flex-basis: 10%;
    color: var(--dark);
  }

  .cart-icon {
    inline-size: 1.25rem;
  }

  .body-wrapper {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    align-items: start;
    gap: 2rem;
    padding: 2rem;
    position: relative;
  }

  aside {
    position: sticky;
    top: 2.5rem;
  }

  ul {
    display: grid;
    list-style-type: none;
    padding-inline: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 1rem;
  }
</style>
