---
import MainLayout from "@layouts/MainLayout.astro";
import { GET } from "@api/getProducts.json.ts";
import type { Product } from "@vars/constants";
import ProductCard from "@components/ProductCard.astro";

let response = await GET();
const products = await response.json();

const singleCats = new Set(
  products.map((product: Product) => product.category)
);

const categoryList = [...singleCats];
---

<MainLayout>
  <div class="body-wrapper">
    <aside>
      <h2>Categories</h2>
      {categoryList.map((category) => <p>{category}</p>)}
    </aside>
    <main>
      <ul>
        {
          products.map((product: Product) => (
            <li>
              <ProductCard product={product} />
            </li>
          ))
        }
      </ul>
    </main>
  </div>
</MainLayout>

<style>
  .body-wrapper {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    align-items: start;
    gap: 2rem;
    padding: 2rem;
    position: relative;
  }

  aside {
    position: sticky;
    top: 2.5rem;
  }

  ul {
    display: grid;
    list-style-type: none;
    padding-inline: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 1rem;
  }
</style>
